*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 60%;
    max-width: 600px;
    height: 90%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    /* gap: 12px; */
}

.child{
    width: 200px;
    height:200px;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-align: center;
}
.container .child1{
    flex-grow: 2;
}
