*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.icon-container i{
    color: blueviolet;
    font-size: 5rem;
}

.icon-container .fb{
    color: blue;
}

