   body {
      width: 100vw;
      height: 100vh;
      /* background-color: rgb(7, 249, 249);
        opacity: 0.4; */
    }
    div {
      width: 50vw;
      height: 50vh;
      background-image: url("dejan-zakic-UxArzYUBXpI-unsplash.jpg");
      background-repeat: no-repeat;
    }