*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.container{
    margin: auto;
    margin-top: 10rem;
    width: 50vw;
    height: 50vh;
    border: 2px solid orange;
    padding-left: 10rem;
    padding-top: 7rem;
}
.container h2{
    margin-bottom: 12px;
}

.container p{
    margin-bottom: 12px;
}

.container button{
    padding: 5px 12px 5px;
    cursor: pointer;
    border: 1px solid salmon;
    background: slateblue;
    color: white;
}